@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'RESIN';
  src: local('RESIN'), url('/fonts/RESIN.woff') format('woff');
  font-display: swap;
}
